{{ attach_library('weather/mystyling') }}
<div class="imageclass" style="background-image:url('{{file_url(image)}}')">
    <div class = "city">
    <img src="modules/custom/weather/images/sunimage.png" height="100px" width="100px"><br>
    {{city}}
    </div>
    <div class = "description">
    {{description}}
    </div>
</div>

<div class="flex-container">
  <div><h5>Min. Temp</h5>{{mintemp}} </div>  
  <div><h5>Max. Temp</h5>{{maxtemp}}</div>
  <div><h5>Pressure</h5>{{pressure}}</div>
  <div><h5>Humidity</h5>{{humidity}}</div>  
  <div><h5>Temp</h5>{{temp}}</div>
</div>
